{% block body_container_header %}
    <style type='text/css'>
        html, body, #container {
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
        }
        h2 {
            margin: 0;
            padding: 0;
            height: 5%;
            min-height: 30px;
        }
        
        #infoBoxes {
            position: relative;
            width: 100%;
            height: 30%;
            min-height: 180px;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        #infoBoxes > div {
            float: left;
            position: relative;
            height: 100%;
            width: 18%;
            margin: 0;
            padding-right: 1%;
            padding-left: 1%;
        }
        
        #infoBoxes > #box_1 {
            background-color: #F1E3FF;
        }
        #infoBoxes > #box_2 {
            background-color: #E3F1FF;
        }
        #infoBoxes > #box_3 {
            background-color: #ECFFE3;
        }
        #infoBoxes > #box_4 {
            background-color: #FFF4E3;
        }
        #infoBoxes > #box_5 {
            background-color: #FFE3E3;
        }
        
        #scrollingOutput {
            position: relative;
            width: 96%;
            
            height: 50%;
            overflow-y: scroll;
            
            margin: 0;
            margin-top: 20px;
            padding-left: 2%;
            padding-right: 2%;
            background-color: #F7F7F7;
        }
        
        div#bottomSpacer {
            height: 30px;
        }
        
        pre {
            margin: 0;
            padding: 0;
        }

        #updateStatus {
            height: 50px;
        }
        
        #loadingSpinner {
            margin: 0 auto;
            height: 50px;
            width: 50px;
        }
    </style>
    <h2>Parallel Technology Test Run</h2>
{% endblock %}
{% block body_container_main %}
{% if debugMessage %}
    <div id="debug">
        <pre>
            {{ debugMessage }}
        </pre>
    </div>
{% endif %}
<div id="infoBoxes">
    <div id="box_1">
        <h3>System</h3>
        1-minute Load Average: 
        <div id="systemLoadAverage"></div>
    </div>
    <div id="box_2">
        <h3>Test</h3>
        <div id="testInfo"></div>
        <div id="testStatus"></div>
        <div id="pidOfOutput"></div>
    </div>
    <div id="box_3">
        <h3>Queue</h3>
        <div id="queueInfo"></div>
    </div>
    <div id="box_4">
        <h3>Run State</h3>
        <div id="updateStatus">Stopped</div>
        <button id="startButton">Start</button>
        <button id="stopButton">Stop</button>
    </div>
    <div id="box_5">
        <h3>Errors</h3>
        <div id="errorLog"></div>
    </div>
</div><div id="scrollingOutput"></div>
{% endblock %}
{% block body_js %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
            var queueLengthStart = {{ queueLength }};
            var queueCompleted = 0;
            var mostRecentMessage = '';
            var stopRunning = false;

            $( "#startButton" ).click(function() {
                stopRunning = false;
                update();
            });
            $( "#stopButton" ).click(function() {
                stopRunning = true;
                $('#updateStatus').html('Stopped');
            });
            
			function update() {
                if(stopRunning == true) {
                    console.log("Cancelling update because stopRunning is true");
                    return;
                }
                
                $.ajax( {
                    type: 'GET',
                    url: 'update',
                    dataType: 'json',
                    beforeSend: function() {
                        // Show loading spinner for the split second while we do update the results with ajax
                        $('#updateStatus').html('<img src="http://www.southwestholidays.co.uk/images/ajax-loader.gif" id="loadingSpinner" />');
                    } ,
                    success: function(result){
                        // Hide ajax loading spinner so we know we're between updates
                        $('#updateStatus').html('Loaded');
                
                        $('#systemLoadAverage').text(result.loadAverage);
                        
                        queueCompleted = queueLengthStart - result.queueLength;
                        $('#queueInfo').html('Queue is '+result.queueStatus+'.<br /><br />' +
                                'Completed: '+queueCompleted+' out of ' + queueLengthStart);
                        
                        if (result.queueStatus == 'running') {
                            // result.testStatus possible values: 'systemNotReady', 'prepareTestFailed', 'startTestFailed', 'started', 'running', 'finished'
                            if (result.testStatus == 'systemNotReady') {
                                $('#errorLog').text(result.message);
                                setTimeout(function() { update(); }, 5000);
                                
                            } else if (result.testStatus == 'prepareTestFailed') {
                                $('#errorLog').text(result.message);
                                setTimeout(function() { update(); }, 5000);
                                
                            } else if (result.testStatus == 'startTestFailed') {
                                $('#errorLog').text(result.message);
                                setTimeout(function() { update(); }, 5000);
                                
                            } else if (result.testStatus == 'started') {
                                // New test just started, update the test status box
                                $('#testStatus').text("Started");
                                // Add other useful info about test
                                $('#testInfo').text("ID: "+result.testID);
                                
                                // Otherwise delay 200ms between polls so we don't affect the results by generating apache load
                                setTimeout(function() { update(); }, 200);
                                
                            } else if (result.testStatus == 'running') {
                                // New test just started, update the test status box
                                $('#testStatus').text("Running");
                                // Show output from pidof in test box
                                $('#pidOfOutput').text(result.message);
                                
                                // Otherwise delay 200ms between polls so we don't affect the results by generating apache load
                                setTimeout(function() { update(); }, 200);
                                
                            } else if (result.testStatus == 'finished') {
                                // Clear pidof
                                $('#pidOfOutput').text("");
                                // Set visual test status
                                $('#testStatus').text("Finished");
                                
                                // Add message to scroller if isn't identical to whatever is already there
                                if(result.message != mostRecentMessage) {
                                    mostRecentMessage = result.message;
                                    $('#bottomSpacer').remove();
                                    var scrollingOutput = $('#scrollingOutput');
                                    scrollingOutput.append( "<pre>"+ mostRecentMessage +"</pre><div id='bottomSpacer'></div>" )
                                            .scrollTop(scrollingOutput.prop("scrollHeight"));
                                }
                                
                                // Since no test is running because we just finished one, update immediately to keep things quick
                                update();
                            }
                        } else {
                            // Otherwise delay 5 seconds between polls. If queue isn't running we have probably either finished or errored
                            setTimeout(function() { update(); }, 5000);
                        }
                        
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        // Something went wrong. Hopefully it will be fixed in 5 seconds
                        console.log('Error: ' + thrownError);
                        setTimeout(function() { update(); }, 3000);
                    }
	    	   });
			}
		});
	</script>
{% endblock %}